<h1 style="
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
"> Confirma tu Cuenta </h1>

<p style="
font-family: Arial, Helvetica, sans-serif;
">
    Hola, estas a poco crear una cuenta de Meeti,
    solo debes confirmar tu cuenta a través del siguiente enlace:
</p>

<a href="<%=url %>" style="
        display: block;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        padding: 1rem;
        background: #00c897;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    "> Confirma tu cuenta</a>

<p style="
font-family: Arial, Helvetica, sans-serif;
">Si no puedes acceder al enlace, ingresa a <%= url %></p>

<p style="
font-family: Arial, Helvetica, sans-serif;
">Si no solicitaste este E-Mail, puedes ignorarlo</p>